.banner {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 116px 0 184px;

  @include apply-to(less-than, $pc) {
    padding: 70px 0 110px;
  }

  @include apply-to(less-than, $tablet) {
    display: block;
    padding-top: 54px;
    padding-bottom: 0;

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }

  &__image {
    position: absolute;
    margin-left: 30px;

    @include apply-to(less-than, $pc) {
      margin: 0;
      top: 0;
      right: -16%;
      width: 1150px;
      height: auto;
    }

    @include apply-to(less-than, $tablet) {
      width: 750px;
      position: static;
      float: right;
      margin-right: -100px;
    }
  }

  &__content {
    margin-right: auto;
    z-index: 1;
    max-width: 460px;

    @include apply-to(less-than, $pc) {
      max-width: 50%;
    }

    @include apply-to(less-than, $tablet) {
      max-width: 100%;
      margin-bottom: 15px;
    }
  }

  &__info {
    color: #82868b;
    padding-bottom: 6px;
    margin-bottom: 12px;
    border-bottom: 2px solid #eaebf2;

    @include apply-to(less-than, $mobile-landscape) {
      margin-bottom: 14px;
    }
  }

  &__title {
    margin: 0 0 39px;
    font: 40px/1.25em $main-font;

    @include apply-to(less-than, $pc) {
      font-size: 30px;
      margin-bottom: 25px;
    }

    @include apply-to(less-than, $mobile-landscape) {
      font-size: 22px;
      margin-bottom: 16px;
    }
  }

  &__buttons {
    display: flex;
    font: 15px/30px $second-font;

    @include apply-to(less-than, $mobile-landscape) {
      line-height: 22px;
    }

    a {
      margin-left: 10px;

      &:first-child {
        margin: 0;
      }

      @include apply-to(less-than, $mobile-landscape) {
        padding: 8px 10px 5px;
        min-width: 112px;
      }
    }
  }
}
