.header {
  width: 100%;
  background: #f7f8ff;

  &__holder {
    @include center-content;
    display: flex;
    align-items: center;
    padding: 20px;
    z-index: 1;
    border-bottom: 2px solid #fff;

    @include apply-to(less-than, $tablet) {
      border: none;
    }
  }
}

.logo {
  margin: 0;

  a {
    display: block;
  }

  img {
    display: block;
  }
}

.main-nav {
  display: flex;
  margin-left: auto;

  @include apply-to(less-than, $tablet) {
    margin-right: 4px;
  }

  &__opener {
    display: none;
    z-index: 3;
    width: 18px;
    height: 14px;
    line-height: 14px;
    position: relative;
    padding: 0;
    border: none;
    border-radius: 0;
    outline: none;
    display: none;
    background: none;
    color: $main-color;
    cursor: pointer;

    &-dash {
      display: block;
      background: currentColor;
      height: 2px;
      width: 100%;
      transition: all ease-in .5s;

      &::before,
      &::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background: currentColor;
        transition: all ease-in .5s;
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }

      .active & {
        position: relative;
        background: none;
        color: #637280;

        &::before {
          transform: rotate(45deg);
          top: 0;
        }

        &::after {
          transform: rotate(-45deg);
          bottom: 0;
        }
      }
    }

    @include apply-to(less-than, $tablet) {
      display: block;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    transition: top ease-in .5s;

    @include apply-to(less-than, $tablet) {
      position: absolute;
      top: -100%;
      width: 320px;
      right: 0;
      background: #fff;
      flex-direction: column;
      z-index: 2;
      padding: 61px 20px;
      font-size: 22px;
      line-height: 63px;
      align-items: flex-start;
      box-shadow: 0 0 5px rgba(#000, .3);
    }

    @include apply-to(less-than, $mobile-landscape) {
      width: 100%;
    }

    .active & {
      @include apply-to(less-than, $tablet) {
        top: 0;
      }
    }
  }
}

.nav-list {
  display: flex;
  font: 15px/29px $main-font;

  @include apply-to(less-than, $tablet) {
    font-size: 22px;
    line-height: 63px;
    flex-direction: column;
    width: 100%;
  }

  &__item {
    padding: 1px 0 1px 20px;

    @include apply-to(less-than, $tablet) {
      border-bottom: 1px solid #e5e5e5;
      padding: 0;
    }
  }

  &__link {
    color: #000;

    @include apply-to(less-than, $tablet) {
      padding: 0 14px;
    }

    &:hover,
    .active {
      text-decoration: none;
      color: $main-color;
    }
  }
}

.login {
  color: $main-color;
  background: #fff;
  border-radius: 3px;
  padding: 2px 10px;
  margin: 0 2px 0 22px;
  font: 15px/27px $second-font;
  box-shadow: 0 2px 5px rgba(#000, .2);

  @include apply-to(less-than, $tablet) {
    background: none;
    box-shadow: none;
    margin: 0;
    padding: 0 14px;
    font-size: 22px;
    line-height: 63px;
  }

  &:hover {
    text-decoration: none;
    box-shadow: 0 0 10px rgba(#000, .3);
    color: rgba($main-color, .9);
  }
}
