.promo {
  margin-bottom: 163px;
  overflow: hidden;

  @include apply-to(less-than, $pc) {
    margin-bottom: 50px;
  }

  @include apply-to(less-than, $tablet) {
    margin-bottom: 55px;
  }

  &__banner {
    @include center-content;
    position: relative;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;

    @include apply-to(less-than, $mobile-landscape) {
      margin-bottom: -53px;
    }

    &:before {
      content: '';
      top: -72px;
      width: 100vw;
      height: 100%;
      background: #f7f8ff;
      position: absolute;
      z-index: -1;
    }

    &:after {
      content: '';
      bottom: -160px;
      width: 100vw;
      height: 100%;
      background: #f7f8ff;
      position: absolute;
      transform: skewY(-9.5deg);
      z-index: -1;

      @include apply-to(less-than, $mobile-landscape) {
        bottom: -30px;
      }
    }
  }

  &__cards {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    max-width: 962px;
    padding: 0 20px;
    margin: 0 auto;
    margin-bottom: 60px;

    @include apply-to(less-than, $tablet) {
      flex-direction: column;
    }
  }

  &__partners {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 962px;
    padding: 0 20px;
    margin: 0 auto;

    @include apply-to(less-than, $tablet) {
      justify-content: space-around;
    }

    &-item {
      @include apply-to(less-than, $tablet) {
        margin: 0 10px 20px;
        max-width: 80px;
      }
    }
  }
}
