@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserratsemibold';
    src: url('../fonts/montserrat-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
