@mixin apply-to($comparator, $device) {
  $extrema: null;

  @if $comparator == less-than {
    $extrema: max;
  }

  @if $comparator == greater-than {
    $extrema: min
  }

  @media only screen and (#{$extrema}-width: $device) {
    @content;
  }
}

@mixin center-content() {
  max-width: 962px;
  padding: 0 20px;
  margin: 0 auto;
}
