// основные стили проекта
$main-font: 'montserratregular', Arial, Helvetica, sans-serif;
$second-font: 'montserratsemibold', Arial, Helvetica, sans-serif;

$main-color: #47b972;
$main-transition: all ease-in .3s;

$mobile: 320px;
$mobile-landscape: 480px;
$tablet: 768px;
$pc: 1024px;
