- var solutions = ['Proposal Software', 'Contract Management', 'Sales Enablement', 'Electronic Signatures', 'CPQ Software', 'Features', 'Integrations', 'Security', 'API & SDK']
- var templates = ['Proposals', 'Invoices', 'Quotes', 'Business plans', 'Receipts', 'Standard documents', 'Other documents']
- var resources = ['Help center', 'Webinars', 'PandaDoc Academy', 'Press', 'Privacy policy', 'Payment policy', 'Terms of use', 'Blog']

mixin footerList(listName, title)
    .footer__column
        strong.footer__title= title
        ul.footer__list
            each val in listName
                li.footer__item
                    a(href='#')= val

footer.footer
    .footer__content
        .footer__row
            +footerList(solutions, 'Solutions')
            +footerList(templates, 'Templates')
            +footerList(resources, 'Resources')
        .footer__row
            .app-links
                a.app-links__link(href="#")
                  img(src="images/icons/btn-app-store.svg")
                a.app-links__link(href="#")
                  img(src="images/icons/btn-google-play.svg")
            .copyright
                span PandaDoc
                span All rights reserved
