extends ../base/modal-wrapper

block content
  .modal__frame
    h2.modal__title Automate the signing <br/> process
    p.modal__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus!
    p.modal__text
      a Next Feature &rarr;
  .modal__image
    img(src='images/images/dashboard.png')
